{% extends 'base.html' %}

{% block title %} Tiempo muerto {% endblock%}

{% block content %}

<h1 class="page-title"> Agregar tiempo muerto </h1>
<p class="page-subtitle"> Ingrese los detalles del evento. </p>

<div class="card">
    <form method="POST">
        {% csrf_token %}
            <div class="form-group" style="margin-bottom: 1rem;">
                <label class="form-label" for="id_name"> Nombre <span class="obligatorio"> * </span></label>
                {{form.name}}
            </div>

            <div class="form-group" style="margin-bottom: 1rem;">
                <label class="form-label" for="id_description"> Descripción </label>
                {{form.description}}
            </div>

            <div style="display: grid; grid-template-columns: 1fr 1fr; gap: 2rem; margin-bottom: 1rem;">
                <div class="form-group">
                    <label class="form-label" for="id_start_time"> Hora de inicio <span class="obligatorio"> * </span></label>
                    {{form.start_time}}
                </div>
                <div class="form-group">
                    <label class="form-label" for="id_end_time"> Hora de terminación <span class="obligatorio"> * </span></label>
                    {{form.end_time}}
                </div>
            </div>

            <div style="display: grid; grid-template-columns: 1fr 1fr 1fr; gap: 2rem; margin-bottom: 1rem;">
                <div class="form-group">
                    <label class="form-label" for="id_valid_from"> Fecha de inicio <span class="obligatorio"> * </span></label>
                    {{form.valid_from}}
                </div>
                <div class="form-group">
                    <label class="form-label" for="id_valid_to"> Fecha de terminación <span class="obligatorio"> * </span></label>
                    {{form.valid_to}}
                </div>
                <div class="form-group">
                    <label class="form-label" for="id_repetition"> Frecuencia <span class="obligatorio"> * </span></label>
                    {{form.repetition}}
                </div>
            </div>

            <div class="form-group">
                <label class="form-label" for="id_cell"> Celda <span class="obligatorio"> * </span></label>
                {{form.cells}}
            </div>
            
            <button type="submit" class="btn btn-primary" >
                Guardar Registro
            </button>
</div>

{% endblock %}